.header__logo {
  display: block;
  margin-bottom: 41px;
}

@media screen and (max-width: 1024px) {
  .header__logo {
    margin-bottom: 31.6px;
  }
}

@media screen and (max-width: 620px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
    margin: 0 0 30.6px calc((100vw - 282px)/2);
  }
}

@media screen and (max-width: 332px) {
  .header__logo {
    margin-left: 27px;
  }
}
