.profile__info {
  max-width: 550px; /* чтобы переполненный контент не сжимал соседние элементы. Посчитал так: 880px - (120px аватар + 30px его mr) - 150px (ширина button_add) - 30px для зазора, чтобы элементы не слипались */
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
  'name edit-button'
  'profession profession';
  gap: 8px 18px; /* в макете вертикальный gap 16px, но по PixelPerfect подходит 8px. Видимо из-за разных подходов к высоте строки  */
}

@media screen and (max-width: 1024px) {
  .profile__info {
    max-width: 328px;
  }
}

@media screen and (max-width: 620px) {
  .profile__info {
    width: 282px;
    grid-template-columns: auto auto 36.5px;
    grid-template-areas:
    'name name edit-button'
    'profession profession profession';
    gap: 8px 10px; /* в макете вертикальный gap 14px, но по PixelPerfect подходит 7px  */
  }
}
