.popup__title {
  color: #000;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  margin: 0 0 39px;
}

@media screen and (max-width: 620px) {
  .popup__title {
    margin-bottom: 65px;
    font-size: 18px;
    line-height: 1.22;
  }
}
