.profile__job {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  grid-area: profession;
  font-size: 18px;
  line-height: 1.22;
}

@media screen and (max-width: 1024px) {
  .profile__job {
    font-size: 16px;
  }
}


@media screen and (max-width: 620px) {
  .profile__job {
    text-align: center;
    font-size: 14px;
    line-height: 1.21;
  }
}
