@import url(./vendor/normalize.css);
@import url(./fonts/fonts.css);
/* блок root */
@import url(./blocks/root/root.css);
@import url(./blocks/root/__header/root__header.css);
@import url(./blocks/root/__footer/root__footer.css);
/* блок header */
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
/* блок main */
@import url(./blocks/main/__profile/main__profile.css);
@import url(./blocks/main/__elements/main__elements.css);
/* блок profile */
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__container/profile__container.css);
@import url(./blocks/profile/__avatar-container/profile__avatar-container.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__avatar/_hovered/profile__avatar_hovered.css);
@import url(./blocks/profile/__avatar-edit-icon/profile__avatar-edit-icon.css);
@import url(./blocks/profile/__avatar-edit-icon/_hovered/profile__avatar-edit-icon_hovered.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__job/profile__job.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
/* блок elements */
@import url(./blocks/elements/__list/elements__list.css);
/* блок element */
@import url(./blocks/element/element.css);
@import url(./blocks/element/__image/element__image.css);
@import url(./blocks/element/__container/element__container.css);
@import url(./blocks/element/__name/element__name.css);
@import url(./blocks/element/__like/element__like.css);
@import url(./blocks/element/__like-counter/element__like-counter.css);
@import url(./blocks/element/__like/_active/element__like_active.css);
@import url(./blocks/element/__delete/element__delete.css);
/* блок popup */
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__title/_type/popup__title_type_submit.css);
@import url(./blocks/popup/__close-icon/popup__close-icon.css);
@import url(./blocks/popup/__image-container/popup__image-container.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__caption/popup__caption.css);
/* блок form */
@import url(./blocks/form/__input-container/form__input-container.css);
@import url(./blocks/form/__input/form__input.css);
@import url(./blocks/form/__input/_type/form__input_type_error.css);
@import url(./blocks/form/__input-error/form__input-error.css);
@import url(./blocks/form/__input-error/_active/form__input-error_active.css);
@import url(./blocks/form/__submit-button/form__submit-button.css);
/* блок footer */
@import url(./blocks/footer/__copyright/footer__copyright.css);
